Flask
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
Flask-JWT-Extended
Flask-Bcrypt
marshmallow
python-dotenv
scikit-learn
tensorflow>=2.20.0
pandas
joblib
numpy
PyJWT
flask-cors
certifi>=2024.0.0
requests>=2.31.0
fpdf2
